@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-stone-900;
  }
  
  body {
    @apply bg-stone-50 text-stone-900 font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-mono;
  }
}

